<!-- 
                                <div class="card ">
                                
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name Emloyee</th>
                                                        <th>Gender</th>
                                                        <th>Dob</th>
                                                        <th>Position</th>
                                                        <th>Address</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Join date</th>
                                                        <th>Level</th>
                                                        <th>Month</th>
                                                        <th>Date Work</th>
                                                        <th>Day Off</th>
                                                        <th>Bonus</th>
                                                        <th>Tax</th>
                                                        <th>Image</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr class="table-active">

                                                        <th scope="row">{{employee.id}}</th>
                                                        <td>{{employee.name}}</td>
                                                        <td>{{employee.gender}}</td>
                                                        <td>{{employee.birth}}</td>
                                                        <td>{{employee.position}}</td>
                                                        <td>{{employee.address}}</td>
                                                        <td>{{employee.email}}</td>
                                                        <td>{{employee.phone}}</td>
                                                        <td>{{employee.date}}</td>
                                                        <td>{{employee.level}}</td>
                                                        <td>{{employee.month}}</td>
                                                        <td>{{employee.dateWork}}</td>
                                                        <td>{{employee.dayOff}}</td>
                                                        <td>{{employee.bonus}}</td>
                                                        <td>{{employee.tax}}</td>
                                                        <td><img src="{{employee.img}}" width="100px" height="100px" ></td>
                                                        
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                               -->


<div class="page-body">
    <div class="row">
        <div class="col-lg-6">
            <div style="width: 750px;">
                <!-- Badges card start -->
                <div class="card">
                    <div  style="background-color:mediumseagreen;" class="card-header">
                        <div class="card-header-left">
                            <p style="font-size: 30px;">EMPLOYEE</p>
                        </div>
                        <div class="card-header-right"> <i class="icofont icofont-spinner-alt-5"></i> </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 col-sm-12">
                                <div class="badge-box">
                                    <th></th>
                                    <td><img src="{{employee.img}}" height="100px" width="100px" ></td>
                                    <hr>
                                    <th>Name Emloyee :</th>
                                    <td>{{employee.name}}</td>
                                    <hr>
                                    <th>Gender :</th>
                                    <td>{{employee.gender}}</td>
                                    <hr>
                                    <th>Dob :</th>
                                    <td>{{employee.birth}}</td>
                                    <hr>
                                    <th>Position :</th>
                                    <td>{{employee.position}}</td>
                                    <hr>
                                    <th>Address :</th>
                                    <td>{{employee.address}}</td>
                                    <hr>
                                    <th>Email :</th>
                                    <td>{{employee.email}}</td>
                                    <hr>
                                    <th>Phone :</th>
                                    <td>{{employee.phone}}</td>
                                    <hr>
                                    <th>Join Date :</th>
                                    <td>{{employee.date}}</td>
                                    <hr>
                                    <th>Level :</th>
                                    <td>{{employee.level}}</td>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-6">
            <div style="width: 700px;">
                <!-- Badges card start -->
                <div class="card">
                    <div  style="background-color:rgb(216, 79, 109);"  class="card-header">
                        <div class="card-header-left">
                            <p style="font-size: 30px;">SALARY</p>
                        </div>
                        <div class="card-header-right"> <i class="icofont icofont-spinner-alt-5"></i> </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 col-sm-12">
                                <div class="badge-box">
                                    <th>Month :</th>
                                    <td>{{employee.month}}</td>
                                    <hr>
                                    <th>Date Work :</th>
                                    <td>{{employee.dateWork}}</td>
                                    <hr>
                                    <th>Day Off :</th>
                                    <td>{{employee.dayOff}}</td>
                                    <hr>
                                    <th>Bonus :</th>
                                    <td>{{employee.bonus}}</td>
                                    <hr>
                                    <th>Tax :</th>
                                    <td>{{employee.tax}}</td>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
       
       

    </div>

</div>