
                                <div class="card ">
                                
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name Emloyee</th>
                                                        <th>Gender</th>
                                                        <th>Dob</th>
                                                        <th>Position</th>
                                                        <th>Address</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Join date</th>
                                                        <th>Level</th>
                                                        <th>Month</th>
                                                        <th>Date Work</th>
                                                        <th>Day Off</th>
                                                        <th>Bonus</th>
                                                        <th>Image</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr class="table-active">

                                                        <th scope="row">{{employee.id}}</th>
                                                        <td>{{employee.name}}</td>
                                                        <td>{{employee.gender}}</td>
                                                        <td>{{employee.birth}}</td>
                                                        <td>{{employee.position}}</td>
                                                        <td>{{employee.address}}</td>
                                                        <td>{{employee.email}}</td>
                                                        <td>{{employee.phone}}</td>
                                                        <td>{{employee.date}}</td>
                                                        <td>{{employee.level}}</td>
                                                        <td>{{employee.month}}</td>
                                                        <td>{{employee.dateWork}}</td>
                                                        <td>{{employee.dayOff}}</td>
                                                        <td>{{employee.bonus}}</td>
                                                        <td>{{employee.tax}}</td>
                                                        <td><img src="{{employee.img}}" width="100px" height="100px" ></td>
                                                        
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                              