<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Badges card start -->
            <div class="card" style="width: 900px !important;">
                <div class="card-header">


                    <h5>POSITION</h5>
                    <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>

                    <div class="card-block">
                        <div class="row">
                            <div *ngFor="let position of positions" class="col-lg-6">
                                <div class="badge-box">
                                    <div style=" font-style: italic;font-weight: bold;" class="sub-title">CHUC
                                        VU:{{position.position}}
                                    </div>
                                    <p> MO TA: <td>{{position.description}}</td>
                                    </p>
                                    <hr>
                                    <p>Money :

                                        <td> <label class="badge badge-primary">{{position.money}}</label></td>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>