
                                <!-- <div class="card ">
                                
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive"> -->
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name Emloyee</th>
                                                        <th>Gender</th>
                                                        <th>Dob</th>
                                                        <th>Position</th>
                                                        <th>Address</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Join date</th>
                                                        <th>Level</th>
                                                        <th>Image</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor = "let employee of employees" >

                                                        <th scope="row">1</th>
                                                        <td>{{employee.name}}</td>
                                                        <td>{{employee.gender}}</td>
                                                        <td>{{employee.birth}}</td>
                                                        <td>{{employee.positionName}}</td>
                                                        <td>{{employee.address}}</td>
                                                        <td>{{employee.email}}</td>
                                                        <td>{{employee.phone}}</td>
                                                        <td>{{employee.date}}</td>
                                                        <td>{{employee.level}}</td>
                                                        <td>{{employee.img}}</td>
                                                        <td>
                                                            <a class="btn btn-info" routerLink="edit/{{employee.id}}" >edit</a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        <!-- </div>
                                    </div>
                                </div>
                                 -->
                              