
                                <!-- <div class="card ">
                                
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive"> -->
                                            <div class="pcoded-search">
                                                <span class="searchbar-toggle"> </span>
                                                <div class="pcoded-search-box ">
                                                    <input type="text" placeholder="Search" [(ngModel)]="keywork">
                                                    <button class="btn btn-primary" (click)="search()">Search</button>
                                                </div>
                                            </div>
                                            <table style="width: 1500px;" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name Emloyee</th>
                                                        <th>Gender</th>
                                                        <th>Dob</th>
                                                        <th>Position</th>
                                                        <th>Address</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Join date</th>
                                                        <th>Level</th>
                                                        <th>Image</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor = "let employee of employees" >

                                                        <th scope="row">{{employee.id}}</th>
                                                        <td><a routerLink="show/{{employee.id}}">{{employee.name}}</a></td>
                                                        <td>{{employee.gender}}</td>
                                                        <td>{{employee.birth}}</td>
                                                        <td>{{employee.positionName}}</td>
                                                        <td>{{employee.address}}</td>
                                                        <td>{{employee.email}}</td>
                                                        <td>{{employee.phone}}</td>
                                                        <td>{{employee.date}}</td>
                                                        <td>{{employee.level}}</td>
                                                        <td><img src="{{employee.img}}" width="100px" height="100px" ></td>
                                                        <td>
                                                            <a class="btn btn-info" routerLink="edit/{{employee.id}}" >edit</a>
                                                            <!-- <a class="btn btn-danger" routerLink="delete/{{employee.id}}" onclick="return confirm('Bạn có chắc chắn muốn xóa ?')" >delete</a> -->
                                                            <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">delete</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            
                                        <!-- </div>
                                    </div>
                                </div>
                                 -->
                              