<!-- <div class="container">
    <div class="card"> -->
      <!-- <div class="card-header" style="background-color: #1717e2">
        <h3 style="text-align: center">Login</h3>
  
      </div> -->
      <!-- <div class="card-body"> -->
          <!-- <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
            </div>
            <div style="text-align: center;width: 100%">
              <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            </div> -->
          <!-- </form> -->

          <div class="page-wrapper">
          <form>
            <div>
                <img src="assets/images/auth/logo-dark.png" alt="logo.png">
            </div>
            <div>
                <div>
                    <div>
                        <h3 class="text-left txt-primary">Sign In</h3>
                    </div>
                </div>
                <hr/>
                <div>
                    <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Your Email Address">
                    <span class="md-line"></span>
                </div>
                <div>
                    <input type="password" class="form-control"  [(ngModel)]="password" name="password" placeholder="Password">
                    <span class="md-line"></span>
                </div>
                <div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                <span class="text-inverse">Remember me</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row m-t-30">
                    <div class="col-md-12">
                        <button type="button" (click)="login()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                    </div>
                </div>
                <hr/>
                
            </div>
        </form>
        </div>
      <!-- </div> -->
    <!-- </div>
  </div> -->
