<!-- <div class="col-md-12 col-xl-8">
    <div class="card">
        <div class="card-header">
            <h5>Statestics</h5> -->
         <table class="table">
             <thead>
                <th>STT</th>
                <th>Month</th>
                <th>Personnel</th>
                <th>Days to work</th>
                <th>Number of days off</th>
                <th>Bonus</th>
                <th>Tax</th>
                <th>Total</th>
                <th></th>
             </thead>
             <tbody>
                <tr  *ngFor="let i=index;let salary of salaries">
                    <td>{{i+1}}</td>
                    <td>{{salary.month}}</td>
                    <td>{{salary.name}}</td>
                    <td>{{salary.dateWork}}</td>
                    <td>{{salary.dayOff}}</td>
                    <td>{{salary.bonus}}</td>
                    <td>{{salary.tax}}</td>
                    <td>{{((salary.money * salary.dateWork) + (salary.bonus)) - (1 -salary.tax/100) }}</td>
                    <td>
                        <button (click)="deleteSalary(salary.id)" class="btn btn-danger">Delete</button>
                        <a routerLink="update/{{salary.id}}" class="btn btn-info">Edit</a>
                    </td>
                </tr>
             </tbody>
         </table>
        <!-- </div>
    </div>
</div> -->
